<div id="rasa-chat-widget" data-websocket-url="http://localhost:5006"></div>
<script>!(function () {
    let e = document.createElement("script"),
      t = document.head || document.getElementsByTagName("head")[0];
    (e.src =
      "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js"),
      // Replace 1.x.x with the version that you want
      (e.async = !0),
      (e.onload = () => {
        window.WebChat.default(
          {
            initPayload: "/greet",
            customData: { language: "en" },
            socketUrl: "http://localhost:5006",
            socketPath: "/socket.io/",
            title: "MOHE POC",
            // add other props here
          },
          null
        );
      }),
      t.insertBefore(e, t.firstChild);
  })();
  </script>
  
